<div>
  <a href="/">Home</a> | 
  <a href="/tresources">Resources</a> | 
  <a href="/tusers">Users</a> | 
  <a href="/ttags">Tags</a>
</div>
<h1>Tag: {{tag}}</h1>
<div>
  <h4>Resources</h4>
  <ul>
    {{#each data.resource}}
      <li><a href="/respiv?resource={{this.url}}&offset=0&count=100">{{this.title}}</a></li>
    {{/each}}
  </ul>
</div>
<div>
  <h4>Users</h4>
  <ul>
    {{#each data.usr}}
      <li><a href="/userpiv?user={{this}}&offset=0&count=100">{{this}}</a></li>
    {{/each}}
  </ul>
</div>